---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Malware",
    description:
      "Malware significa software malintencionado.Incluye una variedad de programas de software creados para permitir que terceras partes accedan de manera no autorizada a información confidencial o interrumpan el funcionamiento normal de una infraestructura crítica.",
    icon: "mdi:application-cog-outline",
  },
  {
    title: "Phishing",
    description:
      "Pishing es una ciberamenaza que usa técnicas de ingeniería social para engañar a los usuarios a fin de que revelen información de identificación personal. Por ejemplo, los atacantes cibernéticos envían correos electrónicos que inducen a los usuarios a hacer clic e introducir los datos de la tarjeta de crédito en una página web de pagos ficticia. ",
    icon: "mdi:email-multiple-outline",
  },
  {
    title: "Ransomware",
    description:
      "El ransomware es un tipo de software malicioso. Está diseñado para exigir dinero mediante el bloqueo del acceso a los archivos o el sistema informático hasta que se pague un rescate. El pago del rescate no garantiza que se recuperen los archivos o se restaure el sistema.",
    icon: "mdi:application-cog-outline",
  },
  {
    title: "Ingeniería social",
    description:
      "La ingeniería social es una táctica que los adversarios usan para engañarlo a fin de que revele su información confidencial. Pueden solicitarle un pago monetario u obtener acceso a sus datos confidenciales.",
    icon: "mdi:graph",
  },
  {
    title: "Amenaza interna",
    description:
      "Una amenaza interna es un riesgo de seguridad introducido por personal con o sin malas intenciones dentro de una organización. Malhechor interno. Delator. Error de usuario",
    icon: "mdi:account-group",
  },
  {
    title: "Community",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "mdi:account-group",
  },
];
const tipo_ciber = "¿Cuáles son los tipos de ataque que intenta defender la ciberseguridad?"
---

<ContentSection title={tipo_ciber} id="features">
  <Fragment slot="lead">
    Astro comes <span class="text-primary">batteries included</span>. It takes
    the best parts of
    <span class="text-primary">state-of-the-art</span>
    tools and adds its own <span class="text-primary">innovations</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
