---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="¿Qué es la ciber seguridad?" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    La ciberseguridad se refiere a <span class="text-emerald-400">protección de sistemas, dispositivos y redes informáticas contra el acceso no autorizado, 
      el robo de datos, la manipulación de información y otros tipos de amenazas cibernéticas.</span> La ciberseguridad incluye una serie de medidas y prácticas diseñadas 
      para proteger la información y los activos digitales de individuos, empresas y organizaciones de todo tipo.

  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span class="text-lime-500">Lea la documentacion</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span class="text-lime-500">Probar Astro</span>
    </a>
  </div>
</ContentSection>
